.menu {
  height: 100%;
  position: absolute;
  padding-top: 10px;
  left: 0;
  overflow-y: auto;
  width: 300px;
  color: #008744;
  background: #ececec;
  background: rgb(79,152,245);
  background: linear-gradient(150deg, rgba(79,152,245,1) 0%, rgba(195,255,199,1) 30%, rgba(236,236,236,1) 100%);
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  transition: 0.5s;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      color: #000000;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      padding: 10px 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    li.active > a {
      background-color:  rgb(160, 201, 255);
      background-color:  rgb(0, 182, 73);
      background-color:  rgb(32, 98, 221);
      border-radius: 2em;
      // color:#d62d20;
      color:#ffffff;
      font-weight: bold;
      text-decoration: none;
    }

    ul {
      padding-left: 20px;
    }
  }

  h2.indice {
    text-align: center;
  }
}

.menu-hidden {
  width: 0;
}